<form asp-action="DeleteImage" role="form">
    <div class="modal-body form-horizontal">
        <div class="modal-body">
            Do you really want to delete?
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-danger">Yes</button>
        </div>
    </div>
</form>