@using System.Linq
@using EzBuy.InputModels.AddEdit
@using EzBuy.ViewModels.Category
@model AddProductInputModel
@{
    ViewData["Title"] = "Add product";
    var categories = this.ViewBag.Categories;
}

<div class="col-md-7">
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">Create product</h3>
        </div>
        <form asp-controller="Productss" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="input form-control" placeholder="Product Name" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input type="text" class="input form-control" placeholder="Price" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea type="text" class="input form-control" placeholder="Product description" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group search">
                <label asp-for="Category"></label>
                <select asp-for="Category" style={color:white;} class="selectpicker" data-live-search="true">
                    <option value="">Choose a category</option>
                    @{
                        for (int i = 0; i < categories.Count; i++)
                        {
                            <option value="@categories[i].Name">
                                @categories[i].Name
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <input type="text" class="input form-control" placeholder="Manufacturer" asp-for="Manufacturer">
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" class="input form-control" placeholder="Enter tags separated by comma"/>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <input class="btn btn-link" type="submit" value="Add product">
        </form>
    </div>
</div>

@section scripts {
      $(document).ready(function(){
             $('.search select').selectpicker({
    size: false
             });
        })
}