@using EzBuy.InputModels.Search
@model SearchProductInputModel

@{
    ViewData["Title"] = "Search menu";
}
<!--https://codepen.io/Izaias/pen/PPJmQe-->
<section class="background-form">
    <div>
        <form class="container-form user-form" asp-action="ProductResults" method="get">
            <span class="form-input">
                <input type="text" class="input__field" id="input-1" asp-for="@Model.Name" />
                <label for="input-1" class="input__label">
                    <span class="input__label-content">Product Name</span>
                </label>
            </span>
            <span class="form-input">
                <input type="text" class="input__field" id="input-2" asp-for="@Model.SellerName" />
                <label for="input-2" class="input__label">
                    <span class="input__label-content">Seller Name</span>
                </label>
            </span>
            @if (this.TempData["ModelState"] != null)
            {
                <span class="input message">
                    <span class="text-danger">@this.TempData["ModelState"]</span>
                </span>
            }
            <input style="display: block;" type="submit" id="send-button" value="Search">

                    }
                </div>
                <div class="col-md-6">
                    <div class="col-md-5">
                    </div>
                    <input class="btn btn-danger" type="submit" id="send-button" value="Search">
                </div>
            </div>
        </div>
    </form>
</div>




<style>
    body {
        text-align: center;
        min-height: 93vh;
    }

    .search-box {
        width: 350px;
        position: relative;
        display: flex;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .search-input {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        padding: 15px 45px 15px 15px;
        background-color: #eaeaeb;
        color: #6c6c6c;
        border-radius: 6px;
        border: none;
        transition: all .4s;
    }

        .search-input:focus {
            border: none;
            outline: none;
            box-shadow: 0 1px 12px #b8c6db;
            -moz-box-shadow: 0 1px 12px #b8c6db;
            -webkit-box-shadow: 0 1px 12px #b8c6db;
        }

    .search-btn {
        background-color: transparent;
        font-size: 18px;
        padding: 12px 9px;
        margin-left: -45px;
        border: none;
        color: #6c6c6c;
        transition: all .4s;
        z-index: 10;
    }

        .search-btn:hover {
            transform: scale(1.2);
            cursor: pointer;
            color: black;
        }

        .search-btn:focus {
            outline: none;
            color: black;
        }
</style>