<style>
    .list-group {
        max-height: 450px;
        max-width: 100%;
        margin-bottom: 10px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
</style>

<form asp-action="DisplayCart" role="form">
    <div backdrop="true" class="modal-body form-horizontal">
        <div class="modal-body">
            <h4>Cart</h4>
            <br />
            <div class="list-group">
                <div class="card mb-2">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Product Name</h5>
                                <p class="card-text">Product Price</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Proceed to payment</button>
        </div>
    </div>
</form>