<form asp-action="DisplayCart" role="form">
    <div backdrop="true" class="modal-body form-horizontal">
        <div class="modal-body">
            Cart
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Proceed to payment</button>
        </div>
    </div>
</form>